{{#if erro}}
    <div class="alert alert-danger">{{erro}}</div>
{{/if}}
<h2>Formulário de Categoria</h2>
<div class="card">
    <div class="card-body">
        <form action="/admin/categoria/nova" method="POST">
            <label for="nome">Nome: </label>
            <input type="text" class="form-control" name="nome" placeholder="Nome da categoria" value="{{nome}}" required>
            <label for="slug">Slug: </label>
            <input type="text" class="form-control" name="slug" placeholder=" Slug da categoria" value="{{slug}}" required>
            
            <button class="btn btn-success mt-2" type="submit">Criar</button>
        </form>
    </div>
    
</div>