<center>
<h3>Confirma a exclusõa da Postagem: {{postagem.titulo}}</h3>

<div class="card align-content-center">
    <div class="card-body">
        <form action="/admin/postagem/excluir/confirmado" method="POST">
            <input type="hidden" name="id" value="{{postagem._id}}">
            <button class="btn btn-danger mt-2" type="submit">Excluir</button>
            <a href="/admin/postagens"><span class="btn btn-outline-info mt-2">Manter</span></a>
        </form>
    </div>
    
</div>
</center>